name = "preppal-worker"
main = "src/index.ts"
compatibility_date = "2023-11-21"
durable_objects.bindings = [{ name = "GEMINI_SESSION", class_name = "GeminiSession" }]

[vars]
DEV_MODE = "true"

[[migrations]]
tag = "v1"
new_classes = ["GeminiSession"]
